<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tangchao.shop.mapper.UserConfMapper">
    <update id="updateBatchConf" parameterType="com.tangchao.shop.pojo.UserConf">
        update cms_conf  set conf_value = #{confValue}, last_modify_id = #{lastModifyId},last_modify_time = #{lastModifyTime} where conf_key = #{confKey}
    </update>
</mapper>